:root {
   /*  Kompassi brand colors  */
   --kompassi-color-blue-dark: #033245;
   --kompassi-color-blue-mid: #225f8c;
   --kompassi-color-blue-light: #4fa8e3;
   --kompassi-color-blue-bg: #edf8fa;
   --kompassi-color-red: #ba3b28;
   --kompassi-color-beige: #eba876;

   --kompassi-hue: 197;

   /*  Common  */
   --kompassi-box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
   --kompassi-box-shadow-hover: 0 0 0.2em rgba(0,0,0,0.4);
   --kompassi-border-radius: 3px;
}
