#kompassi_block_dimension_list .kompassi-table td:empty {
   background-color: var(--kompassi-note-bg);
   text-align: center;
}
   #kompassi_block_dimension_list .kompassi-table td:empty::before {
      font-size: 160%;
      content: "!";
   }
