:root {
   /*  Typography  */
   --kompassi-font: 'Lato', Helvetica, Arial, sans-serif;
   --kompassi-font-size: 16px;
   --kompassi-line-height: 1.3em;

   /*  Colors  */
   --kompassi-hue: 197;

   --kompassi-fg: #222;
   --kompassi-bg: #fff;
   --kompassi-fg-alt: #fff;
   --kompassi-bg-alt: #225f8c; /* from kompassi brand colors */
   --kompassi-fg-indicator: #fff;
   --kompassi-bg-indicator: hsl(0,100%,40%);
   --kompassi-fg-lesser: hsl(0,0%,0%,0.6);

   /*  Common definitions  */
   --kompassi-box-shadow: 0 0 3px hsla(0,0%,0%,0.1);
   --kompassi-box-shadow-hover: 0 0 3px hsla(0,0%,0%,0.4);
   --kompassi-radius: 0.3em;
   --kompassi-padding: 0.6em;
   --kompassi-padding-large: 1.5em;
   --kompassi-hairline: hsla(0,0%,0%,0.1);
   --kompassi-hairline-bold: hsla(0,0%,0%,0.2);

   /*  Button groups  */
   --kompassi-button-icon-size: 21px;

   /*  Modal  */
   --kompassi-modal-max-width: 1000px;
   --kompassi-modal-bg: hsl(var(--kompassi-hue),10%,95%);
   --kompassi-modal-underlay-bg: hsla(0,0%,0%,0.75);
   --kompassi-modal-actions-bg: hsl(var(--kompassi-hue),25%,85%);

   /*  Popover  */
   --kompassi-popover-bg: hsl(var(--kompassi-hue),50%,95%);
}

[class*="wp-block-kompassi"], #kompassi_modal {
	container-name: kompassi-integration;
	container-type: inline-size;
   position: relative;
}
[class*="wp-block-kompassi"], [id^="kompassi"] {
	font-family: var(--kompassi-font);
   font-size: var(--kompassi-font-size);
   line-height: var(--kompassi-line-height);
}

@media (prefers-color-scheme: dark) {
   :root {
      --kompassi-fg-lightness: 0%;

      --kompassi-fg: #ddd;
      --kompassi-bg: hsl(var(--kompassi-hue),5%,10%);
      --kompassi-fg-alt: hsl(var(--kompassi-hue),70%,70%);
      --kompassi-bg-alt: hsl(var(--kompassi-hue),100%,10%);

      --kompassi-hairline: hsla(0,0%,100%,0.1);
      --kompassi-hairline-bold: hsla(0,0%,100%,0.2);

      --kompassi-box-shadow: 0 0 3px hsla(0,0%,100%,0.1);
      --kompassi-box-shadow-hover: 0 0 3px hsla(0,0%,100%,0.4);

      --kompassi-modal-bg: hsl(var(--kompassi-hue),10%,15%);
      --kompassi-modal-actions-bg: hsl(var(--kompassi-hue),20%,20%);

      --kompassi-popover-bg: hsl(var(--kompassi-hue),50%,25%);
   }
   [class*="kompassi-icon"]::before {
      filter: invert() !important;
      opacity: 1 !important;
   }
      .is-favorite .kompassi-icon-favorite::before,
      .kompassi-icon-favorite.active::before {
         filter: none !important;
      }
   .kompassi-provided {
      filter: invert() saturate(0%) brightness(200%);
   }
}

/*
 *  Icons
 *
 */

.kompassi-icon-clear-filters::before { background-image: url(../images/icons/clear_filters.svg); }
.kompassi-icon-close::before { background-image: url(../images/icons/close.svg); }
.kompassi-icon-ellipsis::before { background-image: url(../images/icons/ellipsis.svg); }
.kompassi-icon-favorite::before { background-image: url(../images/icons/favorite.svg); }
.kompassi-icon-filter::before { background-image: url(../images/icons/filter.svg); }
.kompassi-icon-list::before { background-image: url(../images/icons/list.svg); }
.kompassi-icon-signup::before { background-image: url(../images/icons/signup.svg); }
.kompassi-icon-timeline::before { background-image: url(../images/icons/timeline.svg); }

.kompassi-icon-favorite.active::before,
.is-favorite .kompassi-icon-favorite::before,
#kompassi_schedule[data-display="timeline"] .is-favorite::after { background-image: url(../images/icons/is_favorite.svg); }

/*  Active button style is dark by default, make sure the icons are visible  */
[class*="kompassi-icon"].active:not(.kompassi-icon-favorite)::before { filter: invert(); }
[class*="kompassi-icon"].active::before { opacity: 1 !important; }

/*  Icons without button group parent  */
:not(.kompassi-button-group) > [class*="kompassi-icon"]::before {
   content: '';
   display: inline-block;
   height: 1.25em;
   width: 1.25em;
   margin-right: 0.5em;
   background-size: contain;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

/*
 *  Indicators
 *
 */

 .indicator:not(:empty) {
    display: inline-block;
    float: right;
    margin-left: var(--kompassi-padding);
    width: var(--kompassi-button-icon-size);
    height: var(--kompassi-button-icon-size);
    color: var(--kompassi-fg-indicator);
    background-color: var(--kompassi-bg-indicator);
    text-align: center;
    border-radius: 9999px;
    align-content: center;
}

/*
 *  Footer
 *
 */

.kompassi-footer {
   margin: 1em 0;
}
   .kompassi-contact {
      font-size: 85%;
      letter-spacing: 0.02em;
      font-weight: 600;
      color: var(--kompassi-fg-lesser);
   }
   .kompassi-provided {
   	text-align: right;
   }
   	.kompassi-provided a {
   		text-decoration: none;
   	}
   	.kompassi-provided img {
   		height: 50px;
   		weidth: auto;
   	}

@media screen and (min-width:800px) {
   .kompassi-footer {
      display: grid;
      grid-template-columns: auto max-content;
   }
}

/*
 *  Button groups
 *
 */

.kompassi-button-group {
	display: block;
}
	.kompassi-button-group > a {
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding: var(--kompassi-padding);
      color: var(--kompassi-fg) !important;
		background: var(--kompassi-bg);
		border-radius: var(--kompassi-radius);
		margin-right: var(--kompassi-padding);
		margin-bottom: var(--kompassi-padding);
		box-shadow: var(--kompassi-box-shadow);
      text-decoration: none;
   }
		.kompassi-button-group.has-icon-and-label > a:is([class*="kompassi-icon"]) {
			padding-left: calc( ( var(--kompassi-padding) * 2 ) + var(--kompassi-button-icon-size) );
		}
			.kompassi-button-group:is(.has-icon-and-label, .has-icon-only) > a::before {
				content: '';
				display: inline-block;
				position: absolute;
				top: var(--kompassi-padding);
				left: var(--kompassi-padding);
				width: var(--kompassi-button-icon-size);
				height: var(--kompassi-button-icon-size);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				opacity: 0.5;
			}
			.kompassi-button-group.has-icon-only > a {
				width: calc( var(--kompassi-button-icon-size) + var(--kompassi-padding) * 2 );
				height: calc( var(--kompassi-button-icon-size) + var(--kompassi-padding) * 2 );
            user-select: none;
			}

		.kompassi-button-group > a.active {
			color: var(--kompassi-fg-alt) !important;
			background: var(--kompassi-bg-alt) !important;
		}

@container kompassi-integration (min-width: 0px) {
	.kompassi-button-group {
		margin-right: var(--kompassi-padding);
		margin-bottom: var(--kompassi-padding);
	}
		.kompassi-button-group > a {
			border-radius: 0;
			margin-right: 0;
			margin-bottom: 0;
		}
			.kompassi-button-group > a:not(:last-of-type) {
            border-right: 1px solid var(--kompassi-hairline);
			}
			.kompassi-button-group > a:first-child {
				border-bottom-left-radius: var(--kompassi-radius);
				border-top-left-radius: var(--kompassi-radius);
			}
			.kompassi-button-group > a:last-of-type {
				border-top-right-radius: var(--kompassi-radius);
				border-bottom-right-radius: var(--kompassi-radius);
			}
}

/*
 *  Dropdown menu
 *
 */

.kompassi-dropdown-menu-items {
   display: none;
   list-style-type: none;
   padding-left: 0;
   margin: 0;
}
   .kompassi-dropdown-menu.open .kompassi-dropdown-menu-items {
      position: absolute;
      display: block;
      z-index: 3000;
   }

   .kompassi-dropdown-menu > a,
   .kompassi-dropdown-menu-items {
		cursor: pointer;
		background: var(--kompassi-bg);
		border-radius: var(--kompassi-radius);
		box-shadow: var(--kompassi-box-shadow);
      text-decoration: none;
	}
      .kompassi-dropdown-menu > a {
         display: block;
         position: relative;
         user-select: none;

         width: calc( var(--kompassi-button-icon-size) + var(--kompassi-padding) * 2 );
         height: calc( var(--kompassi-button-icon-size) + var(--kompassi-padding) * 2 );
      }
         .kompassi-dropdown-menu > a::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: var(--kompassi-padding);
            left: var(--kompassi-padding);
            width: var(--kompassi-button-icon-size);
            height: var(--kompassi-button-icon-size);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            opacity: 0.5;
         }

      .kompassi-dropdown-menu-items {
         border-top-left-radius: 0;
         min-width: max-content;
      }
         .kompassi-dropdown-menu-items li {
            border-bottom: 1px solid var(--kompassi-hairline);
         }
         .kompassi-dropdown-menu-items a {
            display: block;
            padding: var(--kompassi-padding);
            color: var(--kompassi-fg);
            text-decoration: none;
         }
.kompassi-dropdown-menu.open > a {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;

   color: var(--kompassi-fg-alt);
   background-color: var(--kompassi-bg-alt);
}


/*
 *  Modal
 *
 */

#kompassi_modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 5000;

   color: var(--kompassi-fg);
	background-color: var(--kompassi-bg);
	box-shadow: var(--kompassi-box-shadow);
	border-radius: var(--kompassi-radius);

	overflow: hidden;
}

@supports (height:100dvh) {
	#kompassi_modal {
		height: 100dvh;
	}
}

#kompassi_modal {
	display: flex;
	flex-direction: column;
}
	#kompassi_modal .header {
		position: relative;
		display: grid;
		grid-template-columns: auto max-content;
		grid-template-areas: 'title actions';
		grid-gap: var(--kompassi-padding-large);
		padding: var(--kompassi-padding-large);
      background-color: var(--kompassi-bg);
	}
		#kompassi_modal .header .title {
			font-size: 120%;
         line-height: var(--kompassi-line-height);
			align-self: center;
		}
		#kompassi_modal .header .close {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;
			display: block;
			width: var(--kompassi-button-icon-size);
			padding: 0 var(--kompassi-padding-large);
		}
			#kompassi_modal .header .close::before {
				display: inline-block;
				content: '';
				width: 100%;
				height: 100%;

				background-position: 50% 50%;
				background-size: contain;
				background-repeat: no-repeat;
			}

		#kompassi_modal .content .actions {
         background-color: var(--kompassi-modal-actions-bg);
         padding: var(--kompassi-padding) var(--kompassi-padding-large);
			margin-right: 0;
         margin-bottom: 0;
		}
         #kompassi_modal.actions-bottom-right .content .actions {
            text-align: right;
            order: 2;
         }
			#kompassi_modal .content .actions a::before {
				opacity: 1;
         }
         #kompassi_modal .content .actions:is(.has-icon-and-label) a::after {
            content: attr(title);
         }
			#kompassi_modal .content .actions .favorite {
				margin-right: 1em;
				border-top-right-radius: var(--kompassi-radius);
				border-bottom-right-radius: var(--kompassi-radius);
			}
				#kompassi_modal .content .actions .favorite + a {
					border-bottom-left-radius: var(--kompassi-radius);
					border-top-left-radius: var(--kompassi-radius);
				}
				#kompassi_modal.is-favorite .content .actions .favorite {
               color: var(--kompassi-fg-alt);
					background-color: var(--kompassi-bg-alt);
				}
      #kompassi_modal .content .main,
		#kompassi_modal .content .meta {
         padding: var(--kompassi-padding-large);
      }

@media screen and (max-width:599px) {
	#kompassi_modal .actions a {
		display: block;
		width: 100%;
	}
		#kompassi_modal .actions a:not(:last-child) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		#kompassi_modal .actions a:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
}
		#kompassi_modal .content {
			display: flex;
			flex-direction: column;
			flex: auto;
			overflow-y: auto;
			background:
				/* Shadow covers */
				linear-gradient(var(--kompassi-modal-bg) 30%, rgba(255,255,255,0)),
				linear-gradient(rgba(255,255,255,0), var(--kompassi-modal-bg) 70%) 0 100%,

				/* Shadows */
				radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

			background-repeat: no-repeat;
			background-color: var(--kompassi-modal-bg);
			background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

			/* Opera doesn't support this in the shorthand */
			background-attachment: local, local, scroll, scroll;
		}
				#kompassi_modal .content .main {
					flex: auto;
					display: flex;
					flex-direction: column;

               font-size: 107%;
               line-height: 1.7em;
				}
               #kompassi_modal .content .main > :last-child {
                  margin-bottom: 0;
               }
				#kompassi_modal .content .meta {
					flex: 0 0 min-content;
               background-color: var(--kompassi-bg);
				}

@media screen and (min-width:900px) and (min-height: 800px) {
	#kompassi_modal {
		width: auto;
		height: calc( 100vh - 7em );
		max-width: var(--kompassi-modal-max-width);
		right: max( 4em, calc( ( 100vw - var(--kompassi-modal-max-width) ) / 2 ) );
		left: max( 4em, calc( ( 100vw - var(--kompassi-modal-max-width) ) / 2 ) );
		top: 3.5em;
		bottom: 3.5em;
	}
      #kompassi_modal.small-modal {
         right: max( 4em, 15vw );
         left: max( 4em, 15vw );
         top: max( 4em, 15vh );
         bottom: max( 4em, 15vh );
         height: auto;
      }
      #kompassi_modal .header .title {
         font-size: 150%;
      }
}
@media screen and (min-width:1100px) and (min-height: 1000px) {
   #kompassi_modal.small-modal {
      right: max( 4em, 25vw );
      left: max( 4em, 25vw );
      top: max( 4em, 25vh );
      bottom: max( 4em, 25vh );
   }
}

#kompassi_modal.kompassi-document ul li {
   margin-left: 1.5em;
}
#kompassi_modal.kompassi-document ul li::before {
   content: "–";
   display: inline-block;

   margin-left: -1.5em;
   width: 1.5em;
}


#kompassi_modal_underlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
   background-color: var(--kompassi-modal-underlay-bg);
	z-index: 4999;
}

/*
 *  Popover
 *
 */

#kompassi_popover {
	position: fixed;
	z-index: 4998;

	padding: 0.5em;

   color: var(--kompassi-fg);
   background-color: var(--kompassi-popover-bg);
	box-shadow: var(--kompassi-box-shadow);
	border-radius: var(--kompassi-radius);
}
   #kompassi_popover p {
      margin: 0;
   }
