:root {
	/*  Timeline */
	--kompassi-schedule-timeline-bg: #fff;
	--kompassi-schedule-timeline-row-padding: 0.2em;
	--kompassi-schedule-timeline-group-bg: var(--kompassi-color-blue-bg);
	--kompassi-schedule-timeline-group-fg: #222;
	--kompassi-schedule-timeline-row-height: 2em;
	--kompassi-schedule-timeline-ruler: rgba(0,0,0,0.1);
	--kompassi-schedule-timeline-time: rgba(0,0,0,0.4);

	/*  Program guide  */
	--kompassi-program-bg: #fff;
	--kompassi-program-padding: 1em;
	--kompassi-program-color-default: var(--kompassi-color-blue-dark);
	--kompassi-program-icon-default: url(images/kompassi_white.svg);
}

/*  Active button style is dark by default, make sure the icons are visible  */
[class*="kompassi-icon"].active:not(.kompassi-icon-favorite)::before { filter: invert(); }
[class*="kompassi-icon"].active::before { opacity: 1 !important; }

/* Icon opacities */
article:not(.is-favorite) .kompassi-icon-favorite::before { opacity: 0.5; }

/*
 *  Toolbar
 *
 */

#kompassi_schedule_toolbar {
	position: relative;
}

#kompassi_schedule_toolbar .kompassi-button-group {
	margin: 0;
}

#kompassi_schedule_toolbar {
	display: grid;
	margin-bottom: var(--kompassi-button-padding);
	grid-gap: var(--kompassi-button-padding);
	grid-template-areas: "dates dates" "filtering filtering" "help display";
	grid-template-columns: min-content auto;
}
	#kompassi_schedule_toolbar section { align-content: center; }
	#kompassi_schedule_toolbar #kompassi_schedule_dates { grid-area: dates; }
	#kompassi_schedule_toolbar #kompassi_schedule_filtering { grid-area: filtering; }
	#kompassi_schedule_toolbar #kompassi_schedule_help { grid-area: help; }
	#kompassi_schedule_toolbar #kompassi_schedule_display { grid-area: display; }

@container kompassi-integration (min-width:450px) {
	#kompassi_schedule_toolbar {
		grid-template-areas: "dates display" "filtering help";
		grid-template-columns: auto auto;
	}
		#kompassi_schedule_toolbar #kompassi_schedule_help,
		#kompassi_schedule_toolbar #kompassi_schedule_display { text-align: right; }
}

@container kompassi-integration (min-width:700px) {
	#kompassi_schedule_toolbar {
		grid-template-areas: "dates filtering help display";
		grid-template-columns: max-content max-content auto max-content;
	}
}



/*
 *  Filters
 *
 */

#kompassi_schedule_filters {
	display: none;
	margin-bottom: var(--kompassi-button-padding);
	background-color: var(--kompassi-button-bg-active);
	color: var(--kompassi-button-fg-active);
	padding: var(--kompassi-button-padding);
	border-radius: var(--kompassi-button-radius);
	box-shadow: var(--kompassi-box-shadow);
}
	#kompassi_schedule_filters.visible {
		display: block;
	}
		#kompassi_schedule_filters > *,
		#kompassi_schedule_filters > .select > * {
			display: inline-block;
			width: 100%;
		}
			#kompassi_schedule_filters :is(input, select, .ms-options-wrap button) {
				padding: 0.5em;
				margin-bottom: 0.3em;
				background-color: rgba(0,0,0,0.25);
				color: var(--kompassi-button-fg-active);
				border: none;
				border-radius: var(--kompassi-border-radius);
				font-family: var(--kompassi-schedule-font);
				font-size: 100%;
			}
				#kompassi_schedule_filters input::placeholder {
					color: rgba(255,255,255,0.5);
				}
				#kompassi_schedule_filters :is(select, .ms-options-wrap button) {
					appearance: none;
					cursor: pointer;

					background-image: url(../images/icon_dropdown.svg);
					background-size: 1em auto;
					background-repeat: no-repeat;
					background-position: calc( 100% - 0.5em ) 0.65em;
					padding: 0.5em 2em 0.5em 0.5em;
				}
					#kompassi_schedule_filters .ms-options-wrap button::after {
						display: none;
					}
					#kompassi_schedule_filters option {
						background-color: #fff;
						color: #000;
					}
				#kompassi_schedule_filters input:not(:placeholder-shown),
				#kompassi_schedule_filters select:has(option:checked:not([value="0"])),
			   #kompassi_schedule_filters .ms-options-wrap.ms-has-selections button {
					background-color: var(--kompassi-button-fg-active);
					color: var(--kompassi-button-bg-active);
				}
					#kompassi_schedule_filters select:has(option:checked:not([value="0"])),
					#kompassi_schedule_filters .ms-options-wrap.ms-has-selections button {
						background-image: url(../images/icon_dropdown_black.svg);
					}
				#kompassi_schedule_filters .ms-options {
					z-index: 20;
					color: #000;
				}
					#kompassi_schedule_filters .ms-options > ul {
						display: flex;
						flex-direction: column;
					}
						#kompassi_schedule_filters .ms-options > ul li {
							padding: 0;
							border-bottom: 1px solid var(--kompassi-schedule-timeline-ruler);
						}
							#kompassi_schedule_filters .ms-options > ul label {
								cursor: pointer;
								padding: calc( var(--kompassi-button-padding) / 2 ) var(--kompassi-button-padding);
								padding-left: calc( var(--kompassi-button-padding) + 1.5em );
							}
							#kompassi_schedule_filters .ms-options > ul li.selected {
								order: -1;
							}
								#kompassi_schedule_filters .ms-options > ul li.selected label {
									background-color: inherit;
								}
							#kompassi_schedule_filters .ms-options > ul input {
								width: 1.5em;
								margin: calc( var(--kompassi-button-padding) / 2 - 3px ) var(--kompassi-button-padding) calc( var(--kompassi-button-padding) / 2 ) 0;
							}
			#kompassi_schedule_filters a {
				color: var(--kompassi-button-fg-active);
				text-decoration: underline;
			}


@container kompassi-integration (min-width: 700px) {
	#kompassi_schedule_filters.visible {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: var(--kompassi-button-padding);
	}
	#kompassi_schedule_filters.visible > *,
	#kompassi_schedule_filters.visible > .select > * {
		margin-right: 0;
		margin-bottom: 0;
		width: 100%;
		max-width: 100%;
	}
}

/*
 *  Notes
 *
 */

#kompassi_schedule_notes:not(:empty) {
	padding: 0.5em;
	background-color: rgba(255,255,204,1);
	border-radius: var(--kompassi-border-radius);
	box-shadow: var(--kompassi-box-shadow);
	color: #222;
	margin-bottom: 0.5em;
}
	#kompassi_schedule_notes span {
		display: inline-block;
		margin-right: 1em;
	}
		#kompassi_schedule_notes .program-count {
			font-weight: 600;
		}


/*
 *  Schedule
 *
 */

.kompassi_schedule_wrapper {
	width: calc( 100% + 0.4em ); /* shadow×2 */
	padding: 0.2em;
	margin: 0 -0.2em;
	overflow: hidden;
	user-select: none;
	position: relative;
}

#kompassi_schedule article > * {
	display: none;
}

#kompassi_schedule article.filtered {
	display: none !important;
}

#kompassi_schedule article:hover {
	cursor: pointer;
}

/*  Default/common styles  */
#kompassi_schedule article::before {
	background-image: var(--kompassi-program-icon, var(--kompassi-program-icon-default));
	background-size: auto calc( 100% - 3em );
	background-position: 1.5em 50%;
	background-repeat: no-repeat;
}

#kompassi_schedule article .title {
	font-weight: bold;
	letter-spacing: 0.04em;
}

#kompassi_schedule article .actions > ::before {
	content: '';
	display: inline-block;
	width: var(--kompassi-button-icon-size);
	height: var(--kompassi-button-icon-size);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;

	padding: 0;
	margin: 0;
	transition: 100ms all;
}
	#kompassi_schedule article .actions > .favorite:hover::before {
		margin: -2px;
		padding: 2px;
	}

[id^="kompassi"] .times .length {
	font-size: max(85%, 8pt);
	text-transform: none;
	color: rgba(0,0,0,0.5);
	margin-left: 0.4em;
}

/*  Programs continuing  */
#kompassi_schedule:not(.timeline) article.multiday-overlap {
	order: 3;
}
#kompassi_schedule:not(.timeline) #kompassi_programs_continuing {
	order: 2;
}
	#kompassi_schedule.timeline #kompassi_programs_continuing {
		display: none;
	}

/*  Display Style: List  */
#kompassi_schedule.list {
	--kompassi-program-list-padding: 0.3em;
	--kompassi-program-list-visual-width: 12px;

	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 0.5em;
}
	#kompassi_schedule.list article {
		position: relative;
		display: grid;
		grid-template-columns: 1fr min-content;
		grid-template-areas: "title actions" "meta actions";
		background-color: var(--kompassi-program-bg);
		padding-left: calc( var(--kompassi-program-list-visual-width) + 0.25em );
		box-shadow: var(--kompassi-box-shadow);
		border-radius: var(--kompassi-border-radius);
	}
		#kompassi_schedule.list article :is(.title,.meta,.actions) {
			display: block;
			margin: var(--kompassi-program-list-padding);
		}
			/*  TODO: Kompassi: Define meta to show  */
			#kompassi_schedule.list article .meta > :not(.times, .room) {
				display: none;
			}
		#kompassi_schedule.list article .title,
		#kompassi_schedule.list article .actions {
			margin-bottom: 0;
		}
			#kompassi_schedule.list article .actions {
				display: flex;
				justify-content: end;
			}
				#kompassi_schedule.list article .actions a {
					margin-left: 0.3em;
				}
					#kompassi_schedule.list article .actions .favorite {
						order: 1000;
					}

		#kompassi_schedule.list article .meta {
			margin-top: 0;
		}
		#kompassi_schedule.list article::before {
			content: '';
			position: absolute;
			display: block;
			width: var(--kompassi-program-list-visual-width);
			top: 0;
			bottom: 0;
			background-color: var(--kompassi-program-color, var(--kompassi-program-color-default));
			background-size: calc( 100% - 2.5em ) auto;
			background-position: 50% 50%;
			border-top-left-radius: var(--kompassi-border-radius);
			border-bottom-left-radius: var(--kompassi-border-radius);
		}

/*  Show icon  */
@media screen and (min-width:600px) {
	#kompassi_schedule.list {
		--kompassi-program-list-padding: 0.6em;
		--kompassi-program-list-visual-width: 5.5em;
	}
	#kompassi_schedule.list article {
		padding-left: calc( var(--kompassi-program-list-visual-width) + 0.5em );
		grid-template-columns: 50% auto auto;
		grid-template-areas:
			"title title actions"
			"meta meta meta";
	}
		#kompassi_schedule.list article .actions {
			text-align: right;
		}
}

@media screen and (min-width:800px) {
	#kompassi_schedule.list article .meta {
		display: flex;
		gap: 1em;
	}
	/*  TODO: Kompassi: Define meta to show  */
	#kompassi_schedule.list article .meta .room {
		margin-left: auto;
	}
}

/*  Display Style: Timeline  */
#kompassi_schedule.timeline {
	position: relative;
	background-color: var(--kompassi-schedule-timeline-bg);
	overflow: hidden;
	padding-top: calc( var(--kompassi-schedule-timeline-row-height) + var(--kompassi-schedule-timeline-row-padding ) );
	box-shadow: var(--kompassi-box-shadow);
	border-radius: var(--kompassi-border-radius);
}
	#kompassi_schedule.timeline .headers {
		position: absolute;
		top: 0;
		width: 100%;
		height: calc( 2 * var(--kompassi-schedule-timeline-row-height) );
	}
		#kompassi_schedule.timeline .headers .hint {
			position: absolute;
			border-left: 1px solid var(--kompassi-schedule-timeline-ruler);
			height: var(--kompassi-schedule-timeline-row-height);
			padding: var(--kompassi-schedule-timeline-row-padding);
			background-color: var(--kompassi-schedule-timeline-bg);
			overflow: hidden;
		}
			#kompassi_schedule.timeline .headers .day_hint {
				width: 100%;
			}
			#kompassi_schedule.timeline .headers .time_hint {
				border-top: 1px solid var(--kompassi-schedule-timeline-ruler);
				top: var(--kompassi-schedule-timeline-row-height);
			}
		#kompassi_schedule.timeline .headers.sticky {
			z-index: 10;
			box-shadow: var(--kompassi-box-shadow);
		}
	#kompassi_schedule.timeline .ruler {
		width: auto;
		height: 100%;
		border-top: 1px solid var(--kompassi-schedule-timeline-ruler);
		border-left: 1px solid var(--kompassi-schedule-timeline-ruler);
		padding: 3px;
		color: var(--kompassi-schedule-timeline-time);
		position: absolute;
		top: 0;
		bottom: 0;
	}
		#kompassi_schedule.timeline .ruler:first-of-type {
			border-left-color: transparent;
		}
	#kompassi_schedule.timeline :is(.group-name,article) {
		padding: var(--kompassi-schedule-timeline-row-padding);
		height: calc( var(--kompassi-schedule-timeline-row-height) - 3px );
		position: absolute;
	}
		#kompassi_schedule.timeline .group-name {
			display: block;
			background-color: var(--kompassi-schedule-timeline-group-bg);
			color: var(--kompassi-schedule-timeline-group-fg);
			border-radius: var(--kompassi-border-radius);
			position: absolute;
			left: 3px;
			right: 3px;
			z-index: 3;
		}
		#kompassi_schedule.timeline article {
			position: relative;
			order: 1 !important;
			display: inline-block;
			background-color: var(--kompassi-program-color,var(--kompassi-program-color-default));
			background-image: linear-gradient(to bottom,rgba(0,0,0,0.25),rgba(0,0,0,0.15));
			color: #fff;

			z-index: 1;
			white-space: nowrap;
			overflow: hidden;
		}
			#kompassi_schedule.timeline article.is-favorite {
				padding-left: calc( 1em + 8px );
			}
				#kompassi_schedule.timeline article.is-favorite::after {
					position: absolute;
					display: inline-block;
					content: '';
					left: 4px;
					top: 2px;
					bottom: 2px;
					width: 1em;
					background-size: contain;
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
			#kompassi_schedule.timeline article .actions {
				display: none;
			}

			#kompassi_schedule.timeline article:hover {
				margin-top: -2px;
				box-shadow: 0 0 1em rgba(0,0,0,0.2);
				text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.8);
				filter: brightness(1.25);
				min-width: min-content !important;
				z-index: 2000;
			}
			#kompassi_schedule.timeline article :is(.title) {
				display: block;
			}

/*
 *  Modal
 *
 */

 #kompassi_modal .meta .dimension {
	 display: inline-block;
	 margin-top: 0.5em;
 }
	 #kompassi_modal .meta .dimension:empty {
		 display: none;
	 }
	 #kompassi_modal .dimension .value {
		 display: inline-block;
		 max-width: 100%;
		 padding: 0.2em 0.6em;
		 margin-right: 0.5em;
		 margin-bottom: 0.3em;
		 background-color: var(--dimension-bg-color, #222);
		 color: var(--dimension-fg-color, #fff);
		 border-radius: 9999px;
		 overflow-wrap: break-word;
		 line-height: 1.2em;
	 }
