:root {
	--kompassi-programme-font: 'Lato', Helvetica, Arial, sans-serif;
	--kompassi-programme-bg: #fff;
	--kompassi-programme-border: rgba(0,0,0,0.2);
	--kompassi-programme-padding: 1em;
	--kompassi-programme-default-bg: #164b7f;
	--kompassi-programme-timeline-bg: #ddd;
 	--kompassi-programme-timeline-row-height: 2em;
	--kompassi-programme-timeline-ruler: rgba(0,0,0,0.2);
	--kompassi-programme-timeline-time: rgba(0,0,0,0.4);
	--kompassi-programme-modal-max-width: 1000px;

	--kompassi-programme-favorite-icon-size: 1.4em;
	--kompassi-programme-line-height: 1.4em;

	--kompassi-toolbar-bg: #10324f;
	--kompassi-toolbar-bg-filters: #648fb5;
}

.wp-block-kompassi-integration-programme {
	container-name: kompassi-integration;
	container-type: inline-size;
}

.wp-block-kompassi-integration-programme,
#kompassi_programme_modal,
#kompassi_programme_popover {
	font-family: var(--kompassi-programme-font);
}

/*
 *  Toolbar
 *
 */

#kompassi_programme_toolbar {
}
	#kompassi_programme_toolbar section {
		display: inline-block;
		margin: 0 1em 1em 0;
		border-radius: 9999em;

		background-color: var(--kompassi-toolbar-bg);
	}
		#kompassi_programme_toolbar section a {
			display: inline-block;
			color: #fff;
			padding: 1em 1em 1em calc( 2em + 21px );
			background-position: 1em 50%;
			background-repeat: no-repeat;
			background-size: 21px;
			border-right: 1px solid rgba(255,255,255,0.2);
		}
			#kompassi_programme_toolbar section a.active {
				background-color: rgba(255,255,255,0.1);
			}
			#kompassi_programme_toolbar section a:last-child {
				border: none;
			}

/*  Toolbar icons  */

#kompassi_programme_toolbar a.table { background-image: url(images/icon_table.svg); }
#kompassi_programme_toolbar a.list { background-image: url(images/icon_list.svg); }
#kompassi_programme_toolbar a.expanded { background-image: url(images/icon_expanded.svg); }
#kompassi_programme_toolbar a.timeline { background-image: url(images/icon_timeline.svg); }
#kompassi_programme_toolbar a.filters-toggle { background-image: url(images/icon_filter.svg); position: relative; }

/*
 *  Display Styles
 *
 */

@container kompassi-integration (max-width: 600px) {
	#kompassi_programme_display a {
		width: calc( 2em + 19px ) !important;
		padding: 1em 0 !important;
	}
	#kompassi_programme_display a span {
		display: none;
	}
}

/*
 *  Filters
 *
 */

#kompassi_programme_toolbar a.filters-toggle.active {
}
	#kompassi_programme_toolbar a.filters-toggle.active::after {
		content: '';
		transform: rotate(45deg);
		display: block;

		position: absolute;
		z-index: -1;
		bottom: -2em;
		left: calc( 50% - 0.75em );
		height: 1.5em;
		width: 1.5em;
		background-color: var(--kompassi-toolbar-bg-filters);
	}

#kompassi_programme_filters {
	display: none;
	margin-bottom: 1em;
	background-color: var(--kompassi-toolbar-bg-filters);
	color: #fff;
	padding: 1em;
	border-radius: 0.3em;
}
	#kompassi_programme_filters > * {
		display: inline-block;
		width: 100%;
	}

	#kompassi_programme_filters input,
	#kompassi_programme_filters select {
		padding: 0.5em;
		margin-bottom: 0.3em;
	}

@container kompassi-integration (min-width: 700px) {
	#kompassi_programme_filters > * {
		margin-right: 0.5em;
		width: auto;
		max-width: 16em;
	}
	#kompassi_programme_filters .filter-text {
		width: 20em;
		max-width: 20em;
	}
}

/*
 *  Favorite
 *
 */

#kompassi_programme_modal .favorite,
#kompassi_programme article .favorite {
	width: var(--kompassi-programme-favorite-icon-size);
	height: var(--kompassi-programme-favorite-icon-size);
	background-image: url(images/icon_favorite.svg);
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: contain;
}
	#kompassi_programme_modal.is-favorite .favorite,
	#kompassi_programme article.is-favorite .favorite {
		background-image: url(images/icon_is_favorite.svg);
	}

/*
 *  Modals
 *
 */

#kompassi_programme_modal {
	--kompassi-programme-favorite-icon-size: 3em;

	position: fixed;
	width: calc( 100% - 4em );
	left: 2em;
	top: 5em;
	bottom: 5em;
	z-index: 100000;

	background-color: var(--kompassi-programme-bg);
	padding: 2em;
	box-shadow: 1em 1em 2em rgba(0,0,0,0.2);

	overflow: scroll;
	line-height: var(--kompassi-programme-line-height);
}
	#kompassi_programme_modal > * {
		display: block;
		margin-bottom: 0.5em;
	}
		#kompassi_programme_modal .title {
			font-size: 150%;
			line-height: var(--kompassi-programme-line-height);
		}
		#kompassi_programme_modal .description {
			margin: 1em -2em;
			padding: 2em;
			border-top: 1px solid var(--kompassi-programme-border);
			border-bottom: 1px solid var(--kompassi-programme-border);
		}
		#kompassi_programme_modal .favorite {
			position: absolute;
			top: 2em;
			right: 2em;
		}

@media screen and (min-width:900px) {
	#kompassi_programme_modal {
		max-width: var(--kompassi-programme-modal-max-width);
		right: max( 20%, calc( ( 100vw - var(--kompassi-programme-modal-max-width) ) / 2 ) );
		left: max( 20%, calc( ( 100vw - var(--kompassi-programme-modal-max-width) ) / 2 ) );
	}
}

#kompassi_programme_modal_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 999;
}

/*
 *  Popover
 *
 */

#kompassi_programme_popover {
	position: fixed;
	z-index: 100000;

	padding: 0.5em;

	background-color: var(--kompassi-programme-bg);
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
}

/*
 *  Programme list
 *
 */

#kompassi_programme {
	line-height: var(--kompassi-programme-line-height);
}

#kompassi_programme article > * {
	/*  Hide all data by default  */
	display: none;
}

#kompassi_programme article.hidden {
	/*  Hidden programme  */
	display: none !important;
}

#kompassi_programme article:hover {
	/*  Hover cursor  */
	cursor: pointer;
}

/*  Table  */
#kompassi_programme.table {
	width: 100%;
}
	#kompassi_programme.table article {
		display: grid;
		grid-template-columns: auto max-content 15em var(--kompassi-programme-favorite-icon-size);
		grid-template-areas:
			"title room_name times favorite";
		grid-gap: 0.5em;
		padding: 0.3em 0;
		border-left: 7px solid var(--kompassi-category-color, var(--kompassi-programme-default-bg));
	}
		#kompassi_programme.table article:not(:last-child) {
			border-bottom: 1px solid var(--kompassi-programme-border);
		}
		#kompassi_programme.table article :is(.title,.room_name,.times,.favorite) {
			display: block;
		}
		#kompassi_programme.table article .times {
			text-align: right;
		}
		#kompassi_programme.table article .favorite {
			margin-top: -0.15em;
		}

/*  List  */
#kompassi_programme.list {
	--kompassi-programme-favorite-icon-size: 1.8em;

	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 0.5em;
}

	#kompassi_programme.list article {
		display: grid;
		grid-template-columns: 50% calc( 50% - var(--kompassi-programme-favorite-icon-size) ) var(--kompassi-programme-favorite-icon-size);
		grid-template-areas:
			"title title favorite"
			"times room_name room_name";
		background-color: var(--kompassi-programme-bg);
		border: 1px solid var(--kompassi-programme-border);
		padding: 1em;
		border-left: 7px solid var(--kompassi-category-color, var(--kompassi-programme-default-bg));
	}
		#kompassi_programme.list article :is(.title,.room_name,.times,.favorite) {
			display: block;
		}
		#kompassi_programme.list article .title {
			margin-bottom: 0.5em;
		}
		#kompassi_programme.list article .room_name {
			text-align: right;
		}
		#kompassi_programme.list article .favorite {
			margin-top: -0.3em;
		}

/*  Expanded  */
#kompassi_programme.expanded {
	--kompassi-programme-favorite-icon-size: 2.4em;

	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 1em;
}

@container kompassi-integration (min-width: 700px) {
	#kompassi_programme.expanded {
		grid-template-columns: repeat(2,1fr);
	}
}
@container kompassi-integration (min-width: 1050px) {
	#kompassi_programme.expanded {
		grid-template-columns: repeat(3,1fr);
	}
}
	#kompassi_programme.expanded article {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-areas:
			"img img"
			"title title"
			"times room_name";
		background-color: var(--kompassi-programme-bg);
		border: 1px solid var(--kompassi-programme-border);
		padding: 1em;
	}
		#kompassi_programme.expanded article :is(.img,.title,.room_name,.times,.favorite) {
			display: block;
		}
		#kompassi_programme.expanded article .img {
			margin: -1em -1em 1em -1em;
			min-height: 100px;
			background-color: var(--kompassi-category-color, var(--kompassi-programme-default-bg));
		}
		#kompassi_programme.expanded article .room_name {
			text-align: right;
		}
		#kompassi_programme.expanded article .favorite {
			grid-area: img !important;
			position: absolute;
			right: 0;
		}
			#kompassi_programme.expanded article:not(.is-favorite) .favorite {
				filter: invert(1);
			}

/*  Timeline  */
#kompassi_programme.timeline {
	position: relative;
	border: 1px solid var(--kompassi-programme-border);
	background-color: var(--kompassi-programme-timeline-bg);
	overflow: hidden;
	padding-top: var(--kompassi-programme-timeline-row-height);
}
	#kompassi_programme.timeline .day_hint {
		position: absolute;
		border-left: 1px solid var(--kompassi-programme-timeline-ruler);
		height: var(--kompassi-programme-timeline-row-height);
		padding: 3px;
	}
		#kompassi_programme.timeline .day_hint:first-of-type {
			border-left: 1px solid transparent;
		}

	#kompassi_programme.timeline .ruler {
		width: auto;
		height: 100%;
		border-top: 1px solid var(--kompassi-programme-timeline-ruler);
		border-left: 1px solid var(--kompassi-programme-timeline-ruler);
		padding: 3px;
		color: var(--kompassi-programme-timeline-time);
		position: absolute;
		top: 0;
		bottom: 0;
	}
		#kompassi_programme.timeline .ruler:first-of-type {
			border-left: 1px solid transparent;
		}
	#kompassi_programme.timeline .group-name {
		display: block;
		padding: 0.2em;
		background-color: #fff;
		border-top: 1px solid var(--kompassi-programme-border);
		position: absolute;
		left: 1px;
		right: 1px;
		z-index: 3;
		height: calc( var(--kompassi-programme-timeline-row-height) - 3px );
	}

	#kompassi_programme.timeline article {
		display: inline-block;
		padding: 0.2em;
		background-color: var(--kompassi-category-color,var(--kompassi-programme-default-bg));
		color: rgba(255,255,255,0.8);
		height: calc( var(--kompassi-programme-timeline-row-height) - 3px );

		position: absolute;
		z-index: 1;
		white-space: nowrap;
		overflow: hidden;
	}
		#kompassi_programme.timeline article .favorite {
			display: none;
		}

		#kompassi_programme.timeline article:hover {
			margin-top: -2px;
			box-shadow: 0 0 1em rgba(0,0,0,0.2);
			filter: saturate(1.5) brightness(1.25);
		}
		#kompassi_programme.timeline article :is(.title) {
			display: block;
		}
