:root {
	--kompassi-programme-bg: #fff;
	--kompassi-programme-border: rgba(0,0,0,0.2);
	--kompassi-programme-padding: 1em;
	--kompassi-programme-timeline-bg: #ddd;
 	--kompassi-programme-timeline-row-height: 2em;
	--kompassi-programme-timeline-ruler: rgba(0,0,0,0.2);
	--kompassi-programme-timeline-time: rgba(0,0,0,0.4);
}

.wp-block-kompassi-integration-programme {
	font-family: 'Lato';
}

/*
 *  Display style selection
 *
 */

#kompassi_programme_display a {
	display: inline-block;
	background-color: #222;
	color: #fff;
	border-radius: 9999px;
	padding: 1em 1em 1em calc( 2.5em + 24px );
	margin-right: 0.5em;
	margin-bottom: 1em;
	background-position: 1.5em 50%;
	background-repeat: no-repeat;
	background-size: 24px;
}
	#kompassi_programme_display a.active {
		background-color: blue;
	}
	#kompassi_programme_display a.table { background-image: url(images/icon_table.svg); }
	#kompassi_programme_display a.list { background-image: url(images/icon_list.svg); }
	#kompassi_programme_display a.expanded { background-image: url(images/icon_expanded.svg); }
	#kompassi_programme_display a.timeline { background-image: url(images/icon_timeline.svg); }

/*
 *  Filters
 *
 */

#kompassi_programme_filters {
	margin-bottom: 1em;
}
	#kompassi_programme_filters span {
		display: inline-block;
		margin-right: 0.75em;
		font-weight: 600;
		font-size: 120%;
	}
	#kompassi_programme_filters input,
	#kompassi_programme_filters select {
		padding: 0.5em;
		margin-right: 0.5em;
	}

/* ? */

#kompassi_programme.table article {
	padding: 0.5em 0;
}
	#kompassi_programme.table article:not(:last-child) {
		border-bottom: 1px solid var(--kompassi-programme-border);
	}

#kompassi_programme.list article,
#kompassi_programme.expanded article {
	background-color: var(--kompassi-programme-bg);
	border: 1px solid var(--kompassi-programme-border);
	padding: 1em;
}

#kompassi_programme_modal {
	position: fixed;
	width: 80%;
	max-width: 800px;
	top: 20%;
	left: max( 20%, calc( ( 100vw - 800px ) / 2 ) );
	bottom: 20%;
	z-index: 100000;

	background-color: #fff;
	padding: 2em;
	box-shadow: 1em 1em 2em rgba(0,0,0,0.2);
}
	#kompassi_programme_modal > * {
		display: block;
	}

/* */
#kompassi_programme article.hidden {
	display: none !important;
/*	filter: opacity(0.1); */
}

/*  Programme list  */

#kompassi_programme article .entry {
	/*  Hide all data by default  */
	display: none;
}

	/*  Table  */
	#kompassi_programme.table {
		width: 100%;
	}
		#kompassi_programme.table article {
			display: grid;
			grid-template-columns: auto max-content 12em;
			grid-template-areas:
				"title room_name start_time";
		}
			#kompassi_programme.table article :is(.title,.room_name,.start_time) {
				display: block;
			}
			#kompassi_programme.table article .start_time {
				text-align: right;
			}

	/*  List  */
	#kompassi_programme.list {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-gap: 0.5em;
	}

		#kompassi_programme.list article {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-template-areas:
				"title title"
				"start_time room_name";
		}
			#kompassi_programme.list article :is(.title,.room_name,.start_time) {
				display: block;
			}
			#kompassi_programme.list article .title {
				margin-bottom: 0.5em;
			}
			#kompassi_programme.list article .room_name {
				text-align: right;
			}

	/*  Expanded  */
	#kompassi_programme.expanded {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 1em;
	}
		#kompassi_programme.expanded article {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-template-areas:
				"img img"
				"title title"
				"start_time room_name";
		}
			#kompassi_programme.expanded article :is(.img,.title,.room_name,.start_time) {
				display: block;
			}
			#kompassi_programme.expanded article .entry.img {
				margin: -1em -1em 1em -1em;
				min-height: 100px;
				background-color: #777;
			}
			#kompassi_programme.expanded article .room_name {
				text-align: right;
			}

	/*  Timeline  */
	#kompassi_programme.timeline {
		position: relative;
		border: 1px solid var(--kompassi-programme-border);
		background-color: var(--kompassi-programme-timeline-bg);
		overflow: hidden;
		padding-top: var(--kompassi-programme-timeline-row-height);
	}
		#kompassi_programme.timeline .day_hint {
			position: absolute;
			border-left: 1px solid var(--kompassi-programme-timeline-ruler);
			height: var(--kompassi-programme-timeline-row-height);
			padding: 3px;
		}
			#kompassi_programme.timeline .day_hint:first-of-type {
				border-left: 1px solid transparent;
			}

		#kompassi_programme.timeline .ruler {
			width: auto;
			height: 100%;
			border-top: 1px solid var(--kompassi-programme-timeline-ruler);
			border-left: 1px solid var(--kompassi-programme-timeline-ruler);
			padding: 3px;
			color: var(--kompassi-programme-timeline-time);
			position: absolute;
			top: 0;
			bottom: 0;
		}
			#kompassi_programme.timeline .ruler:first-of-type {
				border-left: 1px solid transparent;
			}

		#kompassi_programme.timeline article {
			display: inline-block;
			padding: 0.2em;
			background-color: #164B7F;
			color: rgba(255,255,255,0.8);
			height: calc( var(--kompassi-programme-timeline-row-height) - 3px );

			position: absolute;
			z-index: 1;
			white-space: nowrap;
			overflow: hidden;
		}
			#kompassi_programme.timeline article :is(.title) {
				display: block;
			}
			#kompassi_programme.timeline article:hover {
				background-color: #fff;
				color: #222;
				width: auto !important;
				height: auto !important;
				z-index: 20;
			}
				#kompassi_programme.timeline article:hover :is(.room_name,.start_time) {
					overflow: visible;
					display: block;
				}
		#kompassi_programme.timeline .group-name {
			display: block;
			padding: 0.2em;
			background-color: #fff;
			border-top: 1px solid var(--kompassi-programme-border);
			position: absolute;
			left: 1px;
			right: 1px;
			z-index: 3;
			height: calc( var(--kompassi-programme-timeline-row-height) - 3px );

		}
