:root {
	/* TODO: variable names */
	--kompassi-program-font: 'Lato', Helvetica, Arial, sans-serif;
	--kompassi-program-bg: #fff;
	--kompassi-program-border: rgba(0,0,0,0.2);
	--kompassi-program-padding: 1em;
	--kompassi-program-color-default: #164b7f;
	--kompassi-program-icon-default: url(images/kompassi.svg);
	--kompassi-program-timeline-bg: #ddd;
 	--kompassi-program-timeline-row-height: 2em;
	--kompassi-program-timeline-ruler: rgba(0,0,0,0.2);
	--kompassi-program-timeline-time: rgba(0,0,0,0.4);

	--kompassi-program-action-icon-size: 1.4em;
	--kompassi-program-line-height: 1.4em;

	--kompassi-toolbar-button-fg: #222;
	--kompassi-toolbar-button-bg: #dadada linear-gradient(to bottom, #fafafa, transparent);
	--kompassi-toolbar-button-bg-active: #fff;
	--kompassi-button-border: rgba(0,0,0,0.2);
	--kompassi-toolbar-button-padding: 0.6em;
	--kompassi-toolbar-button-radius: 0.3em;
	--kompassi-toolbar-icon-size: 21px;

	--kompassi-toolbar-button-bg-filters: #648fb5;

	--kompassi-program-indicator-color: rgba(200,0,0,1);

	/*  Modal  */
	--kompassi-modal-max-width: 1000px;
	--kompassi-modal-bg: #f7f7f7;
}

#kompassi_block_schedule.wp-block-kompassi-integration-schedule {
	container-name: kompassi-integration;
	container-type: inline-size;
}

#kompassi_block_schedule,
.kompassi_block_schedule {
	font-family: var(--kompassi-program-font);
	line-height: var(--kompassi-program-line-height);
}

/*
 *  Toolbar
 *
 */

#kompassi_schedule_toolbar {
	position: relative;
}
	#kompassi_schedule_toolbar section {
		display: block;
	}
		#kompassi_schedule_toolbar section a {
			position: relative;
			display: inline-block;
			color: var(--kompassi-toolbar-button-fg);
			padding: var(--kompassi-toolbar-button-padding);
			background: var(--kompassi-toolbar-button-bg);
			border: 1px solid var(--kompassi-button-border);
			border-radius: var(--kompassi-toolbar-button-radius);
			margin-right: var(--kompassi-toolbar-button-padding);
			margin-bottom: var(--kompassi-toolbar-button-padding);
		}
			#kompassi_schedule_toolbar section a.active {
				background: var(--kompassi-toolbar-button-bg-active);
			}
			#kompassi_schedule_toolbar section a .indicator:not(:empty) {
				display: inline-block;
				margin-left: var(--kompassi-toolbar-button-padding);
				width: var(--kompassi-program-line-height);
				height: var(--kompassi-program-line-height);
				background-color: var(--kompassi-program-indicator-color);
				text-align: center;
				color: #fff;
				border-radius: 9999px;
			}


/*  Toolbar icons  */

#kompassi_schedule_toolbar section a:not(.no-icon) {
	padding-left: calc( ( var(--kompassi-toolbar-button-padding) * 2 ) + var(--kompassi-toolbar-icon-size) );
}

#kompassi_schedule_toolbar section a:not(.no-icon)::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: var(--kompassi-toolbar-button-padding);
	width: var(--kompassi-toolbar-icon-size);
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	opacity: 0.5;
}
	#kompassi_schedule_toolbar a.table::before { background-image: url(images/icon_table.svg); }
	#kompassi_schedule_toolbar a.list::before { background-image: url(images/icon_list.svg); }
	#kompassi_schedule_toolbar a.expanded::before { background-image: url(images/icon_expanded.svg); }
	#kompassi_schedule_toolbar a.timeline::before { background-image: url(images/icon_timeline.svg); }
	#kompassi_schedule_toolbar a.filters-toggle::before { background-image: url(images/icon_filter.svg); }
	#kompassi_schedule_toolbar a.favorites-toggle::before { background-image: url(images/icon_favorite.svg); }
	#kompassi_schedule_toolbar a.favorites-toggle.active::before { background-image: url(images/icon_is_favorite.svg); opacity: 1; }

@container kompassi-integration (min-width: 0px) {
	#kompassi_schedule_toolbar section {
		display: inline-block;
		margin-right: var(--kompassi-toolbar-button-padding);
		margin-bottom: var(--kompassi-toolbar-button-padding);
	}
		#kompassi_schedule_toolbar section a {
			border-radius: 0;
			margin-right: 0;
			margin-bottom: 0;
			cursor: pointer;
		}
			#kompassi_schedule_toolbar section a:not(:last-child) {
				border-right: 1px solid rgba(255,255,255,0.2);
			}
			#kompassi_schedule_toolbar section a:first-child {
				border-bottom-left-radius: var(--kompassi-toolbar-button-radius);
				border-top-left-radius: var(--kompassi-toolbar-button-radius);
			}
			#kompassi_schedule_toolbar section a:last-child {
				border-top-right-radius: var(--kompassi-toolbar-button-radius);
				border-bottom-right-radius: var(--kompassi-toolbar-button-radius);
			}
}

@container kompassi-integration (min-width: 900px) {
	#kompassi_schedule_toolbar section#kompassi_schedule_display {
		position: absolute;
		right: 0;
		margin-right: 0;
	}
}

/*
 *  Display Styles
 *
 */

@container kompassi-integration (max-width: 600px) {
	#kompassi_schedule_display a {
		display: block;
		height: 100%;
		width: calc( var(--kompassi-toolbar-button-padding) * 2 + var(--kompassi-toolbar-icon-size) );
		padding-left: calc( var(--kompassi-toolbar-button-padding) ) !important;
		padding-right: calc( var(--kompassi-toolbar-button-padding) ) !important;
	}
	#kompassi_schedule_display a span {
		display: none;
	}
}

/*
 *  Filters
 *
 */

#kompassi_schedule_toolbar a.filters-toggle.active {
}
	#kompassi_schedule_toolbar a.filters-toggle.active::after {
		content: '';
		transform: rotate(45deg);
		display: block;

		position: absolute;
		z-index: -1;
		bottom: -2em;
		left: calc( 50% - 0.75em );
		height: 1.5em;
		width: 1.5em;
		background-color: var(--kompassi-toolbar-bg-filters);
	}

#kompassi_schedule_filter {
	display: none;
	margin-bottom: 1em;
	background-color: #fff;
	padding: var(--kompassi-toolbar-button-padding);
	border-radius: var(--kompassi-toolbar-button-radius);
	border: 1px solid var(--kompassi-button-border);
}
	#kompassi_schedule_filter > * {
		display: inline-block;
		width: 100%;
	}

	#kompassi_schedule_filter input,
	#kompassi_schedule_filter select {
		padding: 0.5em;
		margin-bottom: 0.3em;
	}

@container kompassi-integration (min-width: 700px) {
	#kompassi_schedule_filter > * {
		margin-right: 0.5em;
		width: auto;
		max-width: 16em;
	}
	#kompassi_schedule_filter .filter-text {
		width: 20em;
		max-width: 20em;
	}
}

/*
 *  Actions
 *  - Favorite
 *
 */

#kompassi_modal .actions > *,
#kompassi_schedule article .actions > * {
	width: var(--kompassi-program-action-icon-size);
	height: var(--kompassi-program-action-icon-size);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;

	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

#kompassi_modal .favorite,
#kompassi_schedule article .favorite {
	background-image: url(images/icon_favorite.svg);
	cursor: pointer;
}
	#kompassi_modal.is-favorite .favorite,
	#kompassi_schedule article.is-favorite .favorite {
		background-image: url(images/icon_is_favorite.svg);
	}

#kompassi_modal .close {
	background-image: url(images/icon_close.svg);
	cursor: pointer;
}


/*
 *  Modals
 *
 */

#kompassi_modal {
	--kompassi-program-action-icon-size: 1.5em;

	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 100000;

	background-color: #f7f7f7;
	box-shadow: 1em 1em 2em rgba(0,0,0,0.2);

	overflow: hidden;
	line-height: var(--kompassi-program-line-height);
}
	#kompassi_modal > * {
		display: block;
		padding: 2em;
	}
		#kompassi_modal .modal_header {
			position: absolute;
			background-color: #fff;
			border-bottom: 1px solid var(--kompassi-program-border);
		}
			#kompassi_modal .title {
				font-size: 150%;
				line-height: var(--kompassi-program-line-height);
			}
		#kompassi_modal .description {
			overflow: scroll;
			background:
				/* Shadow covers */
				linear-gradient(var(--kompassi-modal-bg) 30%, rgba(255,255,255,0)),
				linear-gradient(rgba(255,255,255,0), var(--kompassi-modal-bg) 70%) 0 100%,

				/* Shadows */
				radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

			background-repeat: no-repeat;
			background-color: var(--kompassi-modal-bg);
			background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

			/* Opera doesn't support this in the shorthand */
			background-attachment: local, local, scroll, scroll;
		}

		#kompassi_modal .modal_footer {
			position: absolute;
			background-color: #fff;
			border-top: 1px solid var(--kompassi-program-border);
		}

@media screen and (min-width:900px) {
	#kompassi_modal {
		--kompassi-program-action-icon-size: 2em;

		width: auto;
		height: calc( 100vh - 7em );
		max-width: var(--kompassi-modal-max-width);
		right: max( 4em, calc( ( 100vw - var(--kompassi-modal-max-width) ) / 2 ) );
		left: max( 4em, calc( ( 100vw - var(--kompassi-modal-max-width) ) / 2 ) );
		top: 3.5em;
		bottom: 3.5em;
	}
		#kompassi_modal .modal_header {
			display: grid;
			grid-template-columns: auto max-content;
			grid-template-areas: 'title actions'
				'room_name actions'
				'times actions';
		}
}

/*  Dimensions in modals  */
#kompassi_modal .dimension {
	display: inline;
	padding: 0.2em 0;
}
#kompassi_modal .dimension .value {
	padding: 0.2em 0.6em;
	background-color: #222;
	color: #fff;
	border-radius: 9999px;
}


#kompassi_modal_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 10000;
}

/*
 *  Popover
 *
 */

#kompassi_program_popover {
	position: fixed;
	z-index: 100000;

	padding: 0.5em;

	background-color: var(--kompassi-program-bg);
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
}
	#kompassi_program_popover .title {
		font-weight: bold;
	}
	#kompassi_program_popover .short_blurb {
		font-size: min( 90%, 10.75pt );
		font-style: oblique;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.015em;
	}

/*
 *  Filter note
 *
 */

div.kompassi-filter-note {
	padding: 0.5em;
	background-color: rgba(255,255,204,1);
	border: 1px solid rgba(205,205,154,1);
	border-radius: 3px;
	color: #222;
	margin-bottom: 0.5em;
}

/*
 *  Program list
 *
 */

#kompassi_schedule {
	line-height: var(--kompassi-program-line-height);
}

#kompassi_schedule article > * {
	/*  Hide all data by default  */
	display: none;
}

#kompassi_schedule article.filtered {
	/*  Filtered program  */
	display: none !important;
}

#kompassi_schedule article:hover {
	/*  Hover cursor  */
	cursor: pointer;
}

/*  Default/common styles  */
#kompassi_schedule article .title {
	font-weight: bold;
}
#kompassi_schedule article::before {
	background-image: var(--kompassi-program-icon, var(--kompassi-program-icon-default));
	background-size: auto calc( 100% - 3em );
	background-position: 1.5em 50%;
	background-repeat: no-repeat;
}

/*  Programs continuing  */
#kompassi_schedule:not(.timeline) article.multiday-overlap {
	order: 3;
}
#kompassi_schedule:not(.timeline) #kompassi_programmes_still_continuing {
	order: 2;
}
	#kompassi_schedule.timeline #kompassi_programmes_still_continuing {
		display: none;
	}

/*  List  */
#kompassi_schedule.list {
	--kompassi-program-action-icon-size: 1.8em;
	--kompassi-program-list-padding: 0.6em;
	--kompassi-program-list-visual-width: 5.5em;

	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 0.5em;
}
	#kompassi_schedule.list article {
		position: relative;
		display: grid;
		grid-template-columns: 50% auto auto;
		grid-template-areas:
			"title title actions"
			"times room_name room_name";
		background-color: var(--kompassi-program-bg);
		border: 1px solid var(--kompassi-program-border);
		padding-left: calc( var(--kompassi-program-list-visual-width) + 0.5em );
	}
		#kompassi_schedule.list article :is(.title,.room_name,.times,.actions) {
			display: block;
			margin: var(--kompassi-program-list-padding);
		}
		#kompassi_schedule.list article .title,
		#kompassi_schedule.list article .actions {
			margin-bottom: 0;
		}
		#kompassi_schedule.list article .times,
		#kompassi_schedule.list article .room_name {
			margin-top: 0;
		}
		#kompassi_schedule.list article .room_name {
			text-align: right;
		}
		#kompassi_schedule.list article .actions {
			text-align: right;
		}
		#kompassi_schedule.list article::before {
			content: '';
			position: absolute;
			display: block;
			width: var(--kompassi-program-list-visual-width);
			top: 0;
			bottom: 0;
			background-color: var(--kompassi-program-color, var(--kompassi-program-color-default));
			background-size: auto calc( 100% - 2em );
		}

/*  Timeline  */
#kompassi_schedule.timeline {
	position: relative;
	border: 1px solid var(--kompassi-program-border);
	background-color: var(--kompassi-program-timeline-bg);
	overflow: hidden;
	padding-top: var(--kompassi-program-timeline-row-height);
}
	#kompassi_schedule.timeline .day_hint {
		position: absolute;
		border-left: 1px solid var(--kompassi-program-timeline-ruler);
		height: var(--kompassi-program-timeline-row-height);
		padding: 3px;
	}
		#kompassi_schedule.timeline .day_hint:first-of-type {
			border-left: 1px solid transparent;
		}

	#kompassi_schedule.timeline .ruler {
		width: auto;
		height: 100%;
		border-top: 1px solid var(--kompassi-program-timeline-ruler);
		border-left: 1px solid var(--kompassi-program-timeline-ruler);
		padding: 3px;
		color: var(--kompassi-program-timeline-time);
		position: absolute;
		top: 0;
		bottom: 0;
	}
		#kompassi_schedule.timeline .ruler:first-of-type {
			border-left: 1px solid transparent;
		}
	#kompassi_schedule.timeline .group-name {
		display: block;
		padding: 0.2em;
		background-color: #fff;
		border-top: 1px solid var(--kompassi-program-border);
		position: absolute;
		left: 1px;
		right: 1px;
		z-index: 3;
		height: calc( var(--kompassi-program-timeline-row-height) - 3px );
	}

	#kompassi_schedule.timeline article {
		order: 1 !important;
		display: inline-block;
		padding: 0.2em;
		background-color: var(--kompassi-program-color,var(--kompassi-program-color-default));
		background-image: linear-gradient(to bottom,rgba(0,0,0,0.25),rgba(0,0,0,0.15));
		color: #fff;
		height: calc( var(--kompassi-program-timeline-row-height) - 3px );

		position: absolute;
		z-index: 1;
		white-space: nowrap;
		overflow: hidden;
	}

		#kompassi_schedule.timeline article .actions {
			display: none;
		}

		#kompassi_schedule.timeline article:hover {
			margin-top: -2px;
			box-shadow: 0 0 1em rgba(0,0,0,0.2);
			text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.8);
			filter: brightness(1.25);
			min-width: min-content !important;
			z-index: 2000;
		}
		#kompassi_schedule.timeline article :is(.title) {
			display: block;
		}
