/*  Table  */
#kompassi_schedule.table {
	--kompassi-program-action-icon-size: var(--kompassi-program-line-height);
	font-size: 10pt;

	width: 100%;
	background-color: #fff;
	border: 1px solid var(--kompassi-program-border);
}
	#kompassi_schedule.table article {
		padding: 0.5em;
		border-left: 7px solid var(--kompassi-program-color, var(--kompassi-program-color-default));
	}
		#kompassi_schedule.table article:not(:last-child) {
			border-bottom: 1px solid var(--kompassi-program-border);
		}
		#kompassi_schedule.table article :is(.title,.room_name,.times,.actions) {
			display: block;
			height: 100%;
		}

@container kompassi-integration (min-width:900px) {
	#kompassi_schedule.table {
		border-right: none;
	}
		#kompassi_schedule.table article {
			display: grid;
			grid-template-columns: auto 15em 15em calc( var(--kompassi-program-action-icon-size) + 1em);
			grid-template-areas:
				"title room_name times actions";
			grid-gap: 0;
			padding: 0;
			border-right: none;
		}
			#kompassi_schedule.table article :is(.title,.room_name,.times,.actions) {
				padding: 0.3em 0.5em;
				border-right: 1px solid var(--kompassi-program-border);
			}
}


/*  Expanded  */
#kompassi_schedule.expanded {
	--kompassi-program-action-icon-size: 2.4em;

	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 1em;
}

@container kompassi-integration (min-width: 900px) {
	#kompassi_schedule.expanded {
		grid-template-columns: repeat(2,1fr);
	}
}
	#kompassi_schedule.expanded article {
		position: relative;
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-areas:
			"visual visual"
			"title title"
			"short_blurb short_blurb"
			"times room_name";
		background-color: var(--kompassi-program-bg);
		border: 1px solid var(--kompassi-program-border);
		padding: 1em;
	}
		#kompassi_schedule.expanded article :is(.visual,.title,.short_blurb,.room_name,.times,.actions) {
			display: block;
		}
		#kompassi_schedule.expanded article .visual {
			margin: -1em -1em 1em -1em;
			height: 100px;
			background-color: var(--kompassi-program-color, var(--kompassi-program-color-default));
		}
			#kompassi_schedule.expanded article .visual::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to bottom,rgba(0,0,0,0.15),transparent);
			}
		#kompassi_schedule.expanded article .short_blurb:not(:empty) {
			font-size: min( 90%, 10.75pt );
			font-style: oblique;
			margin: 0.5em 0;
			color: rgba(0,0,0,0.6);
			letter-spacing: 0.015em;
		}
		#kompassi_schedule.expanded article .times {
			align-self: end;
		}
		#kompassi_schedule.expanded article .room_name {
			align-self: end;
			text-align: right;
		}
		#kompassi_schedule.expanded article .actions {
			grid-area: visual !important;
      position: absolute;
			right: 0;
		}
    #kompassi_schedule.expanded article:not(.is-favorite) .actions {
				filter: invert(1);
			}
